<h1> Hello {{ title }}</h1>
<app-dyma></app-dyma>
<app-dyma-sfc/>

<H2>Property Binding</H2>
<div> change the type at 3 sec (date to number)</div>
<app-property-binding/>

<H2>Event Binding</H2>
<div>display 'hi when the mouse enter in the square and display console log message when click on the square</div>
<app-event-binding/>

<H2>DOuble data binding</H2>
<app-double-data-binding/>

<h2>Host Binding Component</h2>
<div>permet de gérer la logique d'un composant directement dans celui ci</div>
<app-host-binding/>

<h2>Structural Directives</h2>
<div>permet de gérer la logique d'affichage d'un composant (if, for, switch, let)</div>
<h3> if</h3>
<app-if/>
<h3> Switch</h3>
<app-switch/>
